.card__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 400px;
  height: 220px;
  padding: .2rem .5rem;
  margin: 1rem;
  background-color: rgba(255, 255, 255, .2);
  border: 2px solid rgba(255, 255, 255, .2);
  box-shadow: 5px 5px 10px 2px rgba(255,255,255,.3);
  border-radius: 15px;

  a {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .card__avatar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;

    img {
        width: 90%;
        height: 70%;
        border-radius: 50%;
    }
  }
  
  .card__data-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    color: rgba(200, 200, 200, 0.87);

    .data-name-surname{
        width: 100%;
        font-size: 1.1rem;
        color: rgba(255, 255, 255, 0.87);
        
        h1 {
            font-size: 1.4rem;
            margin-bottom: 0;
        }
    }

    .data-address {
        
        span {
            font-size: 1.3rem;
            font-weight: 600;
            margin: 0 10px;
        }

        h2 {
            margin-bottom: 0;
        }

        .address-street-postCode {
            display: flex;
            justify-content: center;

            p {
                margin: 0 10px;
            }
        }
    }

    .data-phoneNumber {
        p {
            font-size: 1.3rem;
            font-weight: 600;
        }
    }
  }
}